<%- include('../header') %>
<br/>
<a class="btn btn-primary" href="/categorias/nova">Nova Categoria</a>
<a class="btn btn-primary" href="/publicacoes/nova">Nova Publicação</a>
<br /> <br />
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Categorias</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categorias.forEach(categoria => { %>  
      <tr>
        <!-- <th scope="row"><%= categoria.categoria %></th>-->
        <td>
            <a href="/publicacoes/categoria/<%= categoria.id %>">
              <%= categoria.categoria %>
            </a>
        </td>
        <td>
            <a class="btn btn-light" href="/categorias/editar/<%= categoria.id %>"> Editar </a>
            <a class="btn btn-light" href="/categorias/excluir/<%= categoria.id %>"> Excluir </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
<%- include('../footer') %>

